main {
    background-color: #D8EFFF;
    width: 80%;
    height: 40rem;
    margin: 1.5rem auto;
    border-radius: 25px;
    padding: 2rem;
    overflow-y: auto;
}

.main {
    display: flex;;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 2rem;
}

.main_with_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.main h2 {
    font-weight: 400;   
    font-size: 1.6rem;
    text-align: center;
}

.main img {
    width: clamp(250px, 70%, 450px);
}

.main a {
    text-decoration: none;
    color: #000000;
    background-color: #FFFACD;
    padding: .8rem 3rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .4s ease background-color, color;
}

.main a:hover {
    background-color: #F9E27C;
}

.card {
    width: 21.5rem;
    height: 36rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #FAF3E0;
    display: flex;
    flex-direction: column; 
    gap: 1.5rem;
}

.card h2, p {
    text-align: center;
}

.card p {
    height: 25%;
}

.card img {
    width: 100%;         
    height: 50%;         
    border-radius: 5px;  
    object-fit: cover;   
}