button {
    padding: .8rem 3rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .4s ease background-color, color;
}

.add_image {
    background-color: #D6E8FF;
    color: #2A6F97;
}

.add_image:hover {
    background-color: #B5D4FF;
    color: #FFFFFF;
}

.support {
    background-color: #C8E4FF;
    color: #2A6F97;
}

.support:hover {
    background-color: #A3D2FF;
    color: #FFFFFF;
}