* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
}

body {
    min-height: 100vh;
    background-color: #2C2F33;
    display: grid;
    grid-template-columns: 27rem 1fr;
    grid-template-rows: 22rem auto;
}

.settings_menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;    
    padding: .4rem;
}

.settings_menu button {
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.settings_menu button svg {
    transition: .4s ease transform, fill;
}

.settings_menu_clicked {
    transform: rotate(75deg);
    fill: hsl(0, 0%, 60%);
}

.settings_menu #menu {
    background-color: #4A4A4A;
    color: #F8F8F8;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    opacity: 0;
    border-radius: 1rem;
}

.settings_menu #menu .btn_wrapper  {
    display: flex;
    justify-content: center;
} 

.settings_menu #menu .name_wrapper {
    display: flex;
    flex-direction: column;
}

.settings_menu #menu .name_wrapper input {
    padding: .4rem;
    border-radius: .2rem;
    outline: none;
    border: none;
}

.settings_menu #menu .btn_wrapper button {
    cursor: pointer;
    background-color: #1E90FF;
    color: hsl(0, 0%, 90%);
    border-radius: .6rem;
    padding: .8rem 4rem;
    transition: .3s ease background-color;
}

.settings_menu #menu .btn_wrapper button:hover {
    background-color: #176cc0;
}

#container {
    padding: 2rem;
    height: fit-content;
    width: fit-content;
    background-color: #3A3A3A ;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#container .card {
    height: fit-content;
    width: 18rem;
    padding: .8rem;
    background-color: #40444B;
    color: #F8F8F8;
    border-radius: .8rem;
    text-align: center;
}

#container .card img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: .8rem;
    filter: brightness(.4);
    transition: .4s ease filter;
    cursor: pointer;
}

#container .card img:hover {
    filter: brightness(1);
}

#container .card section {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

#container .card section span {
    cursor: pointer;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 90%);
    padding: .4rem;
    transition: .4s ease color, .4s ease background-color;
}

#container .card section span:hover {
    background-color: hsl(0, 0%, 60%);
    color: hsl(0, 0%, 10%);
}

.show {
    opacity: 1 !important;
}

input[type="file"] {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 90%);
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 6rem;
    padding: .6rem;
    border-radius: .2rem;
    resize: none;
    outline: none;
}

.name {
    text-align: start;
    text-transform: capitalize;
    background-color: hsl(0, 0%, 40%);
    padding: .4rem;
    margin-bottom: .6rem;
    border-radius: .4rem;
}