.main {
    width: 80%;
    height: 40rem;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 2rem;   
    border-radius: 25px;
}

.add_image {
    background-color: #FFF5E4;
}

.support {
    background-color: #FFE4E1;
}