.navbar {
    height: 8rem;
    padding: 0 clamp(8rem, 10vw, 13.75rem);
    background-color: #2A6F97;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo img {
    width: 6rem;
}

.navbar h1 {
    font-size: 2.2rem;
    font-weight: 400;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #FFFF;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    transition: .4s ease color;
}

.navbar ul li a:hover {
    color: #D1C6F0;
}

.navbar button {
    display: none;
    width: 3rem;
    background-color: transparent;
    border: none;
}

.navbar button img {
    width: 100%;
    height: 100%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2A6F97;
    height: 100vh;
    width: 100vw;
}

.menu header {
    height: 8rem;
    width: 100%;
    display: flex;  
    align-items: center;
    justify-content: space-around;
}

.menu header .logo {
    width: 4rem;
}

.menu nav ul {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu nav ul li a {
    font-size: 1.8rem;
}

@media screen and (max-width: 810px) {
    .navbar {
        padding: 0 2rem;
    }

    .logo img {
        display: none;
    }
    
    .navbar ul {
        display: none;
    }

    .navbar button {
        display: block;
    }
}